ZupClient/src/conf/xml-resources/web-service-references/ZupWebService/wsdl/localhost_8084/ZupWebService/ZupWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap/" name="ZupWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap/" schemaLocation="http://localhost:8084/ZupWebService/ZupWebService?xsd=1" />
</xsd:schema>
</types>
<message name="salvar">
<part name="parameters" element="tns:salvar" />
</message>
<message name="salvarResponse">
<part name="parameters" element="tns:salvarResponse" />
</message>
<message name="alterar">
<part name="parameters" element="tns:alterar" />
</message>
<message name="alterarResponse">
<part name="parameters" element="tns:alterarResponse" />
</message>
<message name="excluir">
<part name="parameters" element="tns:excluir" />
</message>
<message name="excluirResponse">
<part name="parameters" element="tns:excluirResponse" />
</message>
<message name="buscarTodos">
<part name="parameters" element="tns:buscarTodos" />
</message>
<message name="buscarTodosResponse">
<part name="parameters" element="tns:buscarTodosResponse" />
</message>
<portType name="ZupWebService">
<operation name="salvar">
<input wsam:Action="http://soap/ZupWebService/salvarRequest" message="tns:salvar" />
<output wsam:Action="http://soap/ZupWebService/salvarResponse" message="tns:salvarResponse" />
</operation>
<operation name="alterar">
<input wsam:Action="http://soap/ZupWebService/alterarRequest" message="tns:alterar" />
<output wsam:Action="http://soap/ZupWebService/alterarResponse" message="tns:alterarResponse" />
</operation>
<operation name="excluir">
<input wsam:Action="http://soap/ZupWebService/excluirRequest" message="tns:excluir" />
<output wsam:Action="http://soap/ZupWebService/excluirResponse" message="tns:excluirResponse" />
</operation>
<operation name="buscarTodos">
<input wsam:Action="http://soap/ZupWebService/buscarTodosRequest" message="tns:buscarTodos" />
<output wsam:Action="http://soap/ZupWebService/buscarTodosResponse" message="tns:buscarTodosResponse" />
</operation>
</portType>
<binding name="ZupWebServicePortBinding" type="tns:ZupWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="salvar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="alterar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="excluir">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscarTodos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ZupWebService">
<port name="ZupWebServicePort" binding="tns:ZupWebServicePortBinding">
<soap:address location="http://localhost:8084/ZupWebService/ZupWebService" />
</port>
</service>
</definitions>